doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title live Cam with SocketIo
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Live Cam(Video) With Socket.io (and nodeJs)
        main 
            div#welcome
                form
                    input(type="text", required, placeholder="room name")
                    button Enter Room
            div#call
                div#myStrem
                    video#myFace(autoplay, playsinline, width="400", height="400")
                    button#mute Mute
                    button#camera Turn Camera Off
                    select#cameras 
                        option(value="device") Face Camera
        script(src="/socket.io/socket.io.js")
        script(src="public/js/app.js")