doctype html
style.
    .form__ {
        display: flex;
        justify-content: center;
    }
    .form__ > form {
        text-align: right;
    }
    #chat_box {
        margin: 4%;
        border: 0.5px solid black;
        list-style:none;
    }

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title livechat with WS
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Live Chat With WS (and nodeJs)
        main 
            div.form__
                form#nick
                    input(type="text", placeholder="Choose a nickname", required)
                    span#nick__value(style="margin-right: 10px") Anonymous
                    button Save 
            ul#chat_box
                li(style="text-align: center") 🔥 chat 🔥
            div.form__
                form#msg
                    input(type="text", placeholder="Write a msg", required)
                    button Send

        script(src="public/js/app_ws.js")