doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title NOOM
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        link(rel="stylesheet", href="/public/css/home.css")
    body 
        header 
            img(src="/public/nomad_ci.jpeg", alt="")
            h1 NOOM
        main 
            div#welcome
                form
                    input(type="text", required, placeholder="room name")
                    button Enter Room
            div#call
                div#myStrem
                    video#myFace(autoplay, playsinline, width="500", height="500")
                        span It's your's
                    video#peerFace(autoplay, playsinline, width="500", height="500")
                        span It's your's

                div#btnDiv
                    button#mute Mute
                    button#camera Turn Camera Off
                    select#cameras 
                        option(value="device") Face Camera
        script(src="/socket.io/socket.io.js")
        script(src="public/js/app.js")